[Unit]
Description=Mount /cases
After=systemd-remount-fs.service
 
[Service]
#Type=simple
Type=oneshot
RemainAfterExit=yes
 
ExecStart=/usr/local/bin/mount.sh start /cases
ExecStop=/usr/local/bin/mount.sh stop /cases  
 
[Install]
WantedBy=multi-user.target

